[Desktop Entry]
Name=Assignment 2 Report
Type=Link
URL=https://docs.google.com/document/d/1FVvCXY1xklhnF3J-EUviRi6ZZLPoldG_GfKXRwxEefA/edit?usp=drivesdk
