[Desktop Entry]
Name=Hey guys, last name is spelled GaggutUr, not gaggutir
Type=Link
URL=https://docs.google.com/document/d/1CjAi6Uezc8SHZV11phjliuHM4OKYoEDtWqSzZVRu0gA/edit?usp=drivesdk
